<div class="container-fluid" style="padding: 20px;">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" (click)="routeUni(uni.universityID);">
            <div class="box">
            <h4 style="text-align: left; "><img style="margin-right: 10px; border-radius: 10px;" src={{uni.iconUrl}}
                    width="75" height="75"> {{uni.name}} </h4>
            <div style="text-align: left; color: rgb(0, 0, 0); padding-left: 93px; margin-top: -30px;">
                <span style="text-align: left;">
                </span>University rating: <span>{{uni.rating}}/5</span> Average subject rating:
                <span>{{uni.subjectRating === null ? "-" : uni.subjectRating}}</span> <span
                    style="  float: right; margin-right: 5px;">{{uni.emailDomain}}</span>
            </div><br>
            <!-- <h3 style="border-bottom: 1px solid rgb(88, 75, 75); text-align: left; padding-left: 125px; padding-right: 125px;"></h3> -->
            <!-- <p>{{uni.description}}</p>    -->
            <h3
                style="border-bottom: 1px solid rgb(88, 75, 75); text-align: left; padding-left: 125px; padding-right: 125px;">
            </h3>
        </div>
        </div>
        <div class="col-1"></div>
    </div>


    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2 style="text-align: left; ">{{subject.name}} </h2>
            <div style="text-align: left; color: rgb(0, 0, 0); "><span style="text-align: left;"></span>
                <div class="stars-outer">
                    <div class="stars-inner" [style.width.%]="((subject.rating)/5)*100"></div>
                </div>
                <br>
                Number of comments: <span>{{subject.commentNumber}}</span><span
                    style="  float: right; ">{{subject.semester}}. semestar, {{subject.major}}

                </span>
            </div><br>
            <h3
                style="border-bottom: 1px solid rgb(88, 75, 75); text-align: left; padding-left: 125px; padding-right: 125px; margin-top: -20px; padding-bottom: 25px;">
            </h3>
            <span *ngIf="isUserLoggedIn() && student.universityID === uni.universityID ">
                <h1> <i class="fa-solid fa-book" style="padding-bottom: 25px;"></i> My Comment</h1>
                <span *ngIf="myComment !== undefined && myComment.description !== undefined ">
                    <p>{{myComment.description}}</p>
                    <div style="text-align: left;" >
                            <i style="padding-right: 5px; color:gray" class="fa-solid fa-thumbs-up"></i>
                        <span style="padding-right: 15px;">{{myComment.upvote}}</span>
                        <div class="stars-outer" >
                            <div class="stars-inner" [style.width.%]="((myComment.rating)/5)*100"></div>
                        </div>
                    </div>
                    <div style="padding-top:10px; padding-bottom:10px;">
                        <button style ="width: 80px;"type="button" class="btn btn-outline-warning" (click)="edit()">Edit</button><span style="padding:10px; "></span>
                        <button style ="width: 80px;" type="button" class="btn btn-outline-danger" (click)="deleteComment()">Delete</button>
                        <span style="  float: right; margin-top: -25px; ">
                            {{datum(myComment.dateEdited)}} 
                       </span>
                    </div>
                   
                </span>
                <span *ngIf="myComment === undefined || myComment.description === undefined ">
                    <!-- Rating Stars  Box                   -->
                    <ul class="list-inline rating-list" 
                    *ngFor="let star of stars" style="display: inline-block" >
                        <li (click)="countStar(star)"
                            [ngClass]="{'selected': (star <= newCommRating)}">
                            <i class="fa fa-star"></i>
                        </li> 
                     </ul>
                    <!-- Rating Stars Box                   -->
                      
                    <div class="textwrapper" >
                      <textarea  [(ngModel)]="newComment.description" required placeholder="Add comment "style="text-align: left; background-color: #1A1E23; color:white width: 100%;" name="Text1"  rows="5"></textarea>
                    </div>
                    <div style="padding-top:10px; padding-bottom:10px;">
                         <button style ="width: 80px;" type="button" class="btn btn-outline-primary" (click)="postComment()">Post</button>
                         <span style="color:006eff; padding-left: 10px;">{{warningPost}}</span>
                    </div>
                </span>
                <h3
                style="border-bottom: 1px solid 006eff; text-align: left; padding-left: 125px; padding-right: 125px;">
            </h3>
            </span>
  
            <h1> <i class="fa-solid fa-book" style="padding-bottom: 50px; padding-top: 50px;"></i> Comments</h1>

            <div style="text-align: right; cursor: pointer;">
                <!-- <span   (click)="sortAaC()">
                    <span   *ngIf="sortByAaC === 0" style=" display: inline;">
                        <i class="fa-solid fa-arrow-down" style="padding: 10px;  color:white;"></i>Aa
                    </span>
                    <span *ngIf="sortByAaC === 1 ">
                        <i class="fa-solid fa-arrow-down" style="padding: 10px; color:red;"></i>Aa 
                    </span>
                    <span *ngIf="sortByAaC === 2 ">
                        <i class="fa-solid fa-arrow-up" style="padding: 10px; color:red"></i>Aa 
                    </span>
                </span> -->
                <span style=" display: inline;"  (click)="sortUpC()">
                    <span   *ngIf="sortByUpC === 0" >
                        <i class="fa-solid fa-arrow-down" style="padding: 10px;"></i><i class="fa-solid fa-thumbs-up"></i>
                    </span>
                    <span *ngIf="sortByUpC === 1 ">
                        <i class="fa-solid fa-arrow-down" style="padding: 10px; color:006eff;"></i><i class="fa-solid fa-thumbs-up"></i>
                    </span>
                    <span *ngIf="sortByUpC === 2 ">
                        <i class="fa-solid fa-arrow-up" style="padding: 10px; color:006eff;"></i><i class="fa-solid fa-thumbs-up"></i>
                    </span>
                </span>
                <span style=" display: inline;"  (click)="sortStC()">
                    <span   *ngIf="sortByStC === 0" >
                        <i class="fa-solid fa-arrow-down" style="padding: 10px;"></i><i class="fa-solid fa-star"></i>
                    </span>
                    <span *ngIf="sortByStC === 1 ">
                        <i class="fa-solid fa-arrow-down" style="padding: 10px; color:006eff;"></i><i class="fa-solid fa-star"></i>
                    </span>
                    <span *ngIf="sortByStC === 2 ">
                        <i class="fa-solid fa-arrow-up" style="padding: 10px; color:006eff;"></i><i class="fa-solid fa-star"></i>
                    </span>
                </span>
                <span style=" display: inline;"  (click)="sortDateC()">
                    <span   *ngIf="sortByDateC === 0" >
                        <i class="fa-solid fa-arrow-down" style="padding: 10px;"></i><i class="fa-solid fa-calendar"></i>
                    </span>
                    <span *ngIf="sortByDateC === 1 ">
                        <i class="fa-solid fa-arrow-down" style="padding: 10px; color:006eff;"></i><i class="fa-solid fa-calendar"></i>
                    </span>
                    <span *ngIf="sortByDateC === 2 ">
                        <i class="fa-solid fa-arrow-up" style="padding: 10px; color:006eff;"></i><i class="fa-solid fa-calendar"></i>
                    </span>
                </span>
            </div>
                <h3 style="border-bottom: 1px solid 006eff; text-align: left; padding-left: 125px;"></h3>

            <ul style="left: 0px;">
                <li *ngFor="let comm of comSub">
                    <p style="text-align: left;"> {{comm.description}}</p>
                    <div style="text-align: left;" >
                        <span *ngIf="isUserLoggedIn()">
                            <span *ngIf="comm.upvoted">
                                <i style="padding-right: 5px; color:006effred; cursor:pointer;" class="fa-solid fa-thumbs-up" (click)="upvoteTopComm(comm)"></i>
                            </span>
                            <span *ngIf="!comm.upvoted">
                                <i style="padding-right: 5px; color:black; cursor:pointer;" class="fa-solid fa-thumbs-up" (click)="upvoteTopComm(comm)"></i>
                            </span>
                        </span>
                        <span *ngIf="!isUserLoggedIn()">
                            <i style="padding-right: 5px; color:gray" class="fa-solid fa-thumbs-up"></i>
                        </span>
                        <span style="padding-right: 15px;">{{comm.upvote}}</span>
                        <div class="stars-outer" >
                            <div class="stars-inner" [style.width.%]="((comm.rating)/5)*100"></div>
                        </div>
                        
                        <span *ngIf="isUserLoggedIn()">
                            <span *ngIf="comm.reported" title="Report comment" class="visible">
                                <i  data-target="#exampleModal" class="show" style="padding-left: 10px; padding-right: 10px;  color:006eff;" class="fa-regular fa-flag" ></i>
                            </span>
                            <span *ngIf="!comm.reported" title="Report comment" class="visible">
                                <i (click)="setCommId(comm.commentID)" data-toggle="modal" data-comm-id=comm.commentID data-target="#exampleModal" class="show" style="padding-left: 10px; padding-right: 10px; cursor:pointer; color:black;" class="fa-regular fa-flag" ></i>
                            </span>
                            <!-- <i class="fa-solid fa-pen-to-square"></i> <i style="padding-left: 10px;" class="fa-solid fa-trash"></i> -->
                        </span>
                    
                    </div>

                    <span style="  float: right; margin-top: -25px; ">
                        <!-- {{comm.universityName}},{{comm.subjectName}} -->
                         {{datum(comm.dateEdited)}}
                    </span>
                    <h3
                        style="border-bottom: 1px solid rgb(88, 75, 75); text-align: left; padding-left: 125px; padding-right: 125px;">
                    </h3>
                </li>
            </ul>
        </div>
    </div>
</div>


 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content" style="color:rgb(255, 255, 255); background-color: black;">
		<div class="">
		  <h5 class="modal-title" id="exampleModalLabel"  style="padding:10px" >Reporting a comment</h5>
		</div>
		<textarea placeholder="Enter reason of report "style="text-align: left; background-color: #1A1E23; color:white" name="Text1" cols="30" rows="5" [(ngModel)]="report.reason" required></textarea>
		<br>
		<span>{{warningtext}}</span>
		<div class="modal-footer" >
			<span *ngIf="report.reason == undefined || report.reason == ''">
				<button type="button" class="btn btn-secondary" (click)="textarea()" >Submit</button>
			</span>
			<span *ngIf="report.reason != undefined && report.reason != ''">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="reportComm()" data-toggle="modal" data-target="#exampleModal2"  >Submit</button>
			</span>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="textareaclear()">Cancel</button>
		</div>
	  </div>
	</div>
  </div>

   <!-- Modal2 -->
   <div id="exampleModal2" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content" style="color:rgb(255, 255, 255); background-color: black;">
		<div class="modal-header">
		  <h5 class="modal-title" style="padding:10px">Report submitted successfully!</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="textareaclear()">Close</button>
	  </div>
	</div>
  </div>